canvas {
  border: 2px solid black;
  display: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.player {
  border: 2px solid black;
  height: 100px;
  width: 100px;
}

#playerLeft {
  left: 30px;
}

#playerRight {
  right: 30px;
}

#status {
  width: 300px;
  position: absolute;
  height: 100px;
  display: block;
  font: 25px sans-serif;
  margin-top: 10px;
  text-align: center;
  z-index: 10;
}

#title_screen {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#join_game {
  font: 1em sans-serif;
  height: 60px;
  width: 100px;
  background-color: rgb(42, 221, 42);
  border-radius: 10px;
  border: 1px solid black;
}

#join_game:hover,
#vote_button:hover {
  background-color: rgb(30, 209, 30);
}

#game_title {
  font: 5em sans-serif;
  margin-bottom: 150px;
}

#vote_button {
  display: none;
  margin-top: 10px;
  height: 40px;
  width: 80px;
  background-color: rgb(42, 221, 42);
  border-radius: 10px;
  border: 1px solid black;
}
