canvas {
  border: 2px solid black;
  display: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.player {
  border: 2px solid black;
  height: 100px;
  width: 100px;
}

#playerLeft {
  left: 30px;
}

#playerRight {
  right: 30px;
}

#winner {
  width: 200px;
  height: 100px;
  display: none;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
}

#title_screen {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#join_game {
  height: 40px;
  width: 80px;
  background-color: rgb(7, 177, 7);
  border-radius: 10px;
  border: 1px solid black;
}

#join_game:hover {
  background-color: rgb(10, 157, 10);
}

#game_title {
  font-size: 3em;
  margin-bottom: 150px;
}
