canvas {
  border: 2px solid black;
  display: block;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.player {
  border: 2px solid black;
  height: 100px;
  width: 100px;
}

#playerLeft {
  left: 30px;
}

#playerRight {
  right: 30px;
}

#winner {
  width: 200px;
  height: 100px;
  display: none;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
}
